.hero-section,
.review-section {
  background-image: url("../../../../src/assets/images/world_map.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.curvy-underline {
  position: relative;
  margin-right: 1rem;
}
.curvy-underline:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 18px;
  width: 100%;
  border: solid 2px #da0c16;
  border-color: #da0c16 transparent transparent transparent;
  border-radius: 50%;
}
