@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-fontPrimaryColor bg-[#f7f9f9];
  font-family: "Roboto", sans-serif;
}

.customContainer {
  @apply lg:mx-40 px-4;
}

.test {
  @apply bg-red-400;
}
.testb {
  @apply border border-red-400;
}

.scroll-to-top {
  padding: 5px !important;
}

.section-title {
  @apply text-2xl font-bold text-black;
}

.link {
  @apply text-[#007bff] hover:text-[#2e8ef5];
}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  select,
  select[multiple] {
    @apply rounded border border-gray-300  py-2 px-5 text-lg focus:border-primary focus:ring-primary;
  }

  textarea {
    @apply rounded-3xl border border-gray-300  py-2 px-5 text-lg focus:border-primary focus:ring-primary;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply h-5 w-5 text-primary focus:border-primary focus:ring-primary;
  }
  [type="checkbox"] {
    @apply rounded;
  }
}

.btn {
  @apply normal-case;
}

.btn-primary {
  @apply bg-black rounded-full hover:bg-[#333333] text-white border-0;
}

.badge-info {
  background-color: #c00 !important;
  border-color: #c00 !important;
  color: #fff !important;
  font-size: 10px !important;
}

.navbar-fixed {
  position: fixed;
  background-color: white;
  z-index: 50;
  top: 0;
}

/* dashboard sidebar */
.dashboard-sidebar {
  background-image: url("./assets/images/sidebarBgImg.jpg");
}
